.contact-details {
  input#name {
    &:invalid {
      border: 1px solid var(--danger);
    }

    &:valid + .error {
      display: none;
    }
  }

  .error {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    margin-top: 0.4rem;

    & span {
      font: 400 1.2rem "Open Sans";
      color: var(--danger);
    }
  }

  hr {
    margin-top: 4.8rem;
    margin-bottom: 4rem;

    border: none;
    border-top: 1px solid var(--input-stroke);
  }

  & a {
    all: unset;
    text-decoration: underline;
    color: var(--brand-light);
    cursor: pointer;

    transition: all 0.3s ease-in-out;
  }

  & a:hover {
    filter: brightness(1.3);
  }

  & .terms-conditions {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  & input#terms,
  & input#email-update,
  & input#sms-update {
    display: none;
  }

  & .terms-conditions label {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  & .terms-conditions label::before {
    content: "";
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--input-stroke);
    border-radius: 0.4rem;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
  }

  & input#terms:checked + label::before,
  & input#email-update:checked + label::before,
  & input#sms-update:checked + label::before {
    background-image: url(/assets/icons/check.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    border-color: var(--brand-light);

    transition: all 0.3s ease-in-out;
  }
}

.generate {
  margin-top: 4.8rem;

  & img {
    margin-top: 0.1rem;
  }

  & button {
    width: 17.7rem;
    height: 4.8rem;
    background-color: var(--brand-dark);
    border-radius: 0.8rem;
    border: none;

    font: 600 1.6rem "Open Sans";
    color: var(--text-heading);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
  }

  & button:hover {
    filter: brightness(1.3);
  }
}
