* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 62.5%;
}

:root {
  /*<---------- Cores ---------->*/
  /*<---------- Brand ---------->*/
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  /*<---------- Accent Colors ---------->*/
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  /*<---------- Feedback ---------->*/
  --danger: #ff5959;

  /*<---------- Input ---------->*/
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  /*<---------- Shape ---------->*/
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /*<---------- Text ---------->*/
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /*<---------- Fonts ---------->*/
  --logo: 400 4rem "Leckerli One", sans-serif;
  --heading-md: 700 2.8rem "Baloo 2", sans-serif;
  --heading-sm: 700 1.8rem "Baloo 2", sans-serif;
  --body-md: 400 1.6rem "Open Sans", sans-serif;
  --body-sm: 400 1.4rem "Open Sans", sans-serif;
  --body-xs: 400 1.2rem "Open Sans", sans-serif;
}